<section class="py-4 sm:px-2 md:px-4 lg:px-44">

  <div class="flex justify-center p-4">
    <svg class="w-12" viewBox="100 100 50 32" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" clip-rule="evenodd"
        d="M 150.07 131.439 L 131.925 100 L 122.206 105.606 L 137.112 131.439 L 150.07 131.439 Z M 132.781 131.439 L 120.797 110.692 L 111.078 116.298 L 119.823 131.439 L 132.781 131.439 Z M 109.718 121.401 L 115.509 131.439 L 102.551 131.439 L 100 127.007 L 109.718 121.401 Z"
        fill="black"></path>
    </svg>
  </div>

  <header>
    <h1 class="uppercase font-normal text-2xl tracking-wide italic font-oswald">
      NEW ARRIVALS: SHOES, CLOTHING & MORE
      <span class="text-xs not-italic mx-2 text-gray-500 font-light">[697]</span>
    </h1>
    <div class="flex max-w-3xl my-4 relative">
      <p class="line-clamp-3 font-sans">Give your athletic attire a makeover with the latest adidas clothes and shoes.
        Look for the freshest sneakers, the newest sportswear and the best accessories for running, working out or
        relaxing
        around the house. Look for sneakers featuring innovative 3D-printed outsoles that redefine forward motion. Or
        discover shorts and tees offering technologies like HEAT.RDY, COLD.RDY and RAIN.RDY to help you outsmart the
        weather
        forecast. You'll also find the newest bag and backpack designs for gathering your gear as you head for a day at
        the
        gym or a weekend out of town.</p>
      <div class="absolute flex flex-row right-0 bottom-0">
        <span class="w-16 bg-gradient-to-r from-transparent to-gray-100"></span>
        <span class="underline ps-4 font-semibold cursor-pointer bg-gray-100">Show More</span>
      </div>
    </div>
  </header>


  <nav class="flex w-full border-b border-gray-200 my-3">
    <ul class="flex flex-row space-x-6">
      <li class="border-b-2 border-black px-2 py-3 text-sm font-bold">New Arrivals</li>
      <li class="px-2 py-3 text-sm font-normal text-gray-500">Best Sellers</li>
      <li class="px-2 py-3 text-sm font-normal text-gray-500">Release Dates</li>
      <li class="px-2 py-3 text-sm font-normal text-gray-500">Blog</li>
    </ul>
  </nav>


  <div class="grid grid-flow-row gap-0.5 text-neutral-600 sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-4">


    <!-- HERE GO CARDS -->

    @for (item of items; track $index) {
    <app-product-card />
    }


  </div>

</section>
