<header class="site-padding pt-10">
  <div class="header-container">
    <h1 class="header-title">
      NEW ARRIVALS: SHOES, CLOTHING & MORE
      <span class="header-subtitle">[{{ products() }}]</span>
    </h1>
    <button class="filter-button flex lg:hidden">
      <svg class="w-6" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
        <g id="SVGRepo_iconCarrier">
          <path d="M1.5 6H16" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
          </path>
          <path d="M8 18H22.5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
          </path>
          <path d="M20 6H22.5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
          </path>
          <path d="M1.5 18H4" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
          </path>
          <circle cx="18" cy="6" r="2" stroke="currentColor" stroke-width="1.5"></circle>
          <circle cx="6" cy="18" r="2" stroke="currentColor" stroke-width="1.5"></circle>
        </g>
      </svg>
    </button>
  </div>
  <div class="description-container">
    <p class="description-text">Give your athletic attire a makeover with the latest adidas clothes and shoes.
      Look for the freshest sneakers, the newest sportswear and the best accessories for running, working out or
      relaxing around the house. Look for sneakers featuring innovative 3D-printed outsoles that redefine forward
      motion. Or
      discover shorts and tees offering technologies like HEAT.RDY, COLD.RDY and RAIN.RDY to help you outsmart the
      weather forecast. You'll also find the newest bag and backpack designs for gathering your gear as you head for a
      day at
      the gym or a weekend out of town.</p>
    <div class="show-more-container">
      <span class="background-helper"></span>
      <a href="#" class="show-more">Show More</a>
    </div>
  </div>
</header>

<nav class="site-padding secondary-nav">
  <ul class="nav">
    <li class="nav-link active"><a href="#">New Arrivals</a></li>
    <li class="nav-link"><a href="#">Best Sellers</a></li>
    <li class="nav-link"><a href="#">Release Dates</a></li>
    <li class="nav-link"><a href="#">Blog</a></li>
  </ul>
  <button class="filter-button hidden lg:flex">
    Filter & Sort
    <svg class="w-6 ms-3" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
      <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
      <g id="SVGRepo_iconCarrier">
        <path d="M1.5 6H16" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
        </path>
        <path d="M8 18H22.5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
        </path>
        <path d="M20 6H22.5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
        </path>
        <path d="M1.5 18H4" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
        </path>
        <circle cx="18" cy="6" r="2" stroke="currentColor" stroke-width="1.5"></circle>
        <circle cx="6" cy="18" r="2" stroke="currentColor" stroke-width="1.5"></circle>
      </g>
    </svg>
  </button>
</nav>
